input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply px-5 py-2 text-navlink lowercase font-medium transition-colors cursor-pointer rounded-md;
}

.btn-primary {
  @apply bg-primary text-body border-2 border-primary hover:bg-white;
}

.btn-black {
  @apply bg-body text-white border-2 border-body hover:bg-white hover:text-body;
}

.text-base-clamp {
  font-size: clamp(16px, 2.5vw, 19px);
}

.display1-clamp {
  font-size: clamp(40px, 5vw, 80px);
  line-height: 1;
}

.strong-primary {
  strong {
    font-weight: inherit;
    @apply text-primary;
  }
}

p:last-of-type {
  margin-bottom: 0;
}
